.afo-simple-container{
    width: 400px;
    height: 250px;
    border-radius: 5px;
    border: 2px solid black;
    margin: 20px auto;
}

.afo-simple-info{
    border-left: 2px solid black;
}

.afo-simple-img{
    height: 250px;
    oject-fit: cover;
}

.afo-simple-text{
    height: 100px;
    overflow: scroll;
}