
.afo-navbar{
    background-color: black;
    color: white;
}

.navbar-btn:hover {
    color: white;
}

.menu-container{
    position: relative;
}

.menu {
    background: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 60px;
    width: 300px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    z-index: 100;
}

.main-menu{
    left: 0;
}

.profile-menu{
    right: 0;
}

.menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    border-bottom: 1px solid #dddddd;
}

.menu li a {
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    display: block;
}

.menu li a:hover {
    color: #670AF5;
}