p{
    overflow-wrap: break-word;
}

li{
    text-decoration: none;
}
.profile-img-info{
    width: 350px;
}

.profile-container{

}

.profile-img{
    width: 350px;
    height: 350px;
    object-fit: contain;
}

.mini-anime-search{
    height: 300px;
    overflow-y: scroll;
}