.discover-row{
    background-color: lightgrey;
}

.afo-carousel-box{
    margin-left: 60px;
    margin-right: 60px;
}

.afo-card-style{
    width: 18rem;
    height: 500px;
    margin: auto;
}

.afo-card-img{
    width: 18rem;
    height: 150px;
    object-fit: cover;
}

.afo-card-info{
    height: 150px;
    overflow: scroll;
}

@media screen and (max-width: 1400px){
    .afo-card-style{
        width: 20rem;
    }
    .afo-card-img{
        width: 20rem;
    }
}