
.afo-purple{
    color: #670AF5;
}

.afo-dark-purple{
    color: #3f0695;
}

.afo-white{
    color: white;
}

.afo-black{
    color: black;
}

.afo-gray{
    color: gray;
}

.afo-light-gray-1{
    color: lightgray;
}

.afo-light-gray-2{
    color: #E8E8E8;
}